.filterList {
    border-radius: 12px;
    position:absolute;
    left: 0;
    top: 50px;
    background-color:#313131;
    padding: 34px;

}
.wrapper {
    height: 305px;
    overflow-y: auto;
    padding-right: 24px;

    &::-webkit-scrollbar {
        background-color: #4B4949;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white ;
    }
}

.filterItem:hover {
    color:#B672FF;
}

.filterItem {
    color: white;
    font-size: 20px;
    padding-bottom: 28px;
}


